body, html {
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #092232;
}

header img {
  height: 50px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  min-width: 300px;
}

nav a {
  color: #E3863C;
  font-weight: bold;
  text-decoration: none;
}

.bg-img {
  background-image: url("warmer.jpg");
  min-height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container {
  position: absolute;
  margin: 5px;
  max-width: 600px;
  padding: 100px;
  text-align: center;
  font-size: 25px;
}

input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background-color: #ddd;
  text-align: center;
}

.btn {
  width: 50%;
  border: none;
  background-color: #E3863C;
  padding: 16px 100px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.footer {
  background-color:#092232;
  position: fixed;
}

