header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #092232;
}

header img {
  height: 50px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  min-width: 300px;
}

nav a {
  color: #E3863C;
  font-weight: bold;
  text-decoration: none;
}

/* The overlay effect with black background */
.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9); /* Black with a little bit see-through */
}

/* The content */
.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

.overlay .closebtn:hover {
  color: #ccc;
}

/* Style the search field */
.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 100%;
}

/* Style the submit button */
.overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  height: 100%;
}

* {
  box-sizing: border-box;
}