/* Root Styling */
* {
  margin: 0;
  padding: 0;
  --orange: #e3863c;
  --darkblue: #092232;
  font-family: "Libre Franklin", sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  max-width: 100%;
  }

/* Hero image */
.hero {
  background: url(../images/hero-image.jpg);
  background-size: cover;
  background-position: 0 40%;
  background-repeat: no-repeat;
  height: 464px;
  position: relative;
}

/* Nav buttons */
.btn-primary {
  background-color: var(--orange);
  color: #092232;
  border-color: transparent;
  width: 10%;
}

.btn-primary:hover {
  background-color: var(--darkblue);
  color: white;
  border-color: transparent;
  transform: scale(1.1);
}

.bg-light {
  background-color: transparent !important;
}

/* DefineHub Hero Text */
#explain-definehub {
  text-shadow: 2px 2px 2px black;
}

#explain-definehub p {
  font-size: 22px;
  width: 650px;
}

#welcome-text {
  color: white;
}

/* Start Here Button */
#start-here-btn {
  width: 50%;
  background-color: var(--darkblue);
  color: white;
  font-weight: 600;
  font-size: 22px;
  transition: all 0.3s ease-in-out 0s;
}

#start-here-btn:hover {
  transform: rotate(360deg);
}

#start-here-btn a {
  color: white;
  text-decoration: none;
}

#start-here-btn a:visited {
  color: none;
  text-decoration: none;
}

/* Main content styling */

.card {
  background-color: transparent;
  color: white;
  border: transparent;
}

.justify-content-md-end {
  padding-right: 15%;
}

.row {
  align-items: center;
  --bs-gutter-x: 6rem;
}

.row>* {
  padding-right: 0;
  padding-left: 0;
}

.body-card {
  margin-top: 30px;
  margin-bottom: 30px;
}

.body-card h1,
p {
  color: var(--darkblue);
}

.body-card p {
  font-size: 20px;
}

/* Image Styling */
#pronounce-image,
#define-image {
  transform: rotate(-5deg);
  border-radius: 10px;
  box-shadow: 3px 5px 10px #070d0d;
}

#translate-image {
  transform: rotate(5deg);
  border-radius: 10px;
  box-shadow: 3px 5px 10px #070d0d;
  margin-left: 100px;
}

#main-content {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Footer Styling */
footer {
  height: 55px;
  background-color: var(--darkblue);
}
